make-blueprints/03_reply_to_review.blueprint.json
{
  "name": "Reply to Review",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": "__SET_YOUR_WEBHOOK_HOOK_ID__",
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "restore": {
          "parameters": {
            "hook": {
              "data": {
                "editable": "true"
              },
              "label": "Nhan Lenh Telegram"
            }
          }
        },
        "parameters": [
          {
            "name": "hook",
            "type": "hook:gateway-webhook",
            "label": "Webhook",
            "required": true
          },
          {
            "name": "maxResults",
            "type": "number",
            "label": "Maximum number of results"
          }
        ],
        "interface": [
          {
            "name": "reviewId",
            "type": "text"
          },
          {
            "name": "replyText",
            "type": "text"
          },
          {
            "name": "locationName",
            "type": "text"
          }
        ],
        "advanced": true
      }
    },
    {
      "id": 7,
      "module": "google-my-business:createUpdateAReply",
      "version": 1,
      "parameters": {
        "__IMTCONN__": "__SET_YOUR_CONNECTION__"
      },
      "mapper": {
        "review": "{{1.reviewId}}",
        "select": "map",
        "comment": "{{1.replyText}}"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        },
        "restore": {
          "expect": {
            "select": {
              "label": "Enter manually"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "google-my-business2"
              },
              "label": "My Google Business Profile connection (your-email@example.com)"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google-custom,google-my-business2",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "select",
            "type": "select",
            "label": "Enter a review name",
            "required": true,
            "validate": {
              "enum": [
                "map",
                "select"
              ]
            }
          },
          {
            "name": "comment",
            "type": "text",
            "label": "Reply comment",
            "validate": {
              "max": 4096,
              "min": 0
            }
          },
          {
            "name": "review",
            "type": "text",
            "label": "Review name",
            "required": true
          }
        ]
      },
      "onerror": [
        {
          "id": 8,
          "module": "http:MakeRequest",
          "version": 4,
          "parameters": {
            "tlsType": "",
            "authenticationType": "noAuth"
          },
          "mapper": {
            "url": "https://api.telegram.org/botPASTE_YOUR_TELEGRAM_BOT_TOKEN/sendMessage",
            "method": "post",
            "contentType": "urlEncoded",
            "shareCookies": false,
            "parseResponse": true,
            "allowRedirects": true,
            "stopOnHttpError": true,
            "urlEncodedBodyContent": [
              {
                "name": "chat_id",
                "value": "PASTE_YOUR_IT_LOG_CHAT_ID"
              },
              {
                "name": "parse_mode",
                "value": "HTML"
              },
              {
                "name": "text",
                "value": "❌ <b>[MAKE.COM CRASH]</b>

<b>Scenario:</b> Push reply to Google Maps (Create a Reply)
<b>Problem:</b> A manager approved a reply but Make could not post it to Maps!
<b>Action:</b> Check the 'Reply to Review' scenario on Make.com right away.

<b>Error detail:</b>
- Type: {{7.error.type}}
- Message: {{7.error.message}}
- Detail: {{7.error.detail}}"
              }
            ],
            "requestCompressedContent": true
          },
          "metadata": {
            "designer": {
              "x": 606,
              "y": 117
            },
            "restore": {
              "expect": {
                "method": {
                  "mode": "chose",
                  "label": "POST"
                },
                "headers": {
                  "mode": "chose"
                },
                "contentType": {
                  "label": "application/x-www-form-urlencodedEnter form data as key-value pairs encoded in the URL style."
                },
                "shareCookies": {
                  "mode": "chose"
                },
                "parseResponse": {
                  "mode": "chose"
                },
                "allowRedirects": {
                  "mode": "chose"
                },
                "paginationType": {
                  "label": "Empty"
                },
                "queryParameters": {
                  "mode": "chose"
                },
                "stopOnHttpError": {
                  "mode": "chose"
                },
                "urlEncodedBodyContent": {
                  "mode": "chose",
                  "items": [
                    null,
                    null,
                    null
                  ]
                },
                "requestCompressedContent": {
                  "mode": "chose"
                }
              },
              "parameters": {
                "tlsType": {
                  "label": "Empty"
                },
                "authenticationType": {
                  "label": "No authenticationUse when no credentials are required for the request."
                }
              }
            },
            "parameters": [
              {
                "name": "authenticationType",
                "type": "select",
                "label": "Authentication type",
                "required": true,
                "validate": {
                  "enum": [
                    "noAuth",
                    "apiKey",
                    "basicAuth",
                    "oAuth"
                  ]
                }
              },
              {
                "name": "tlsType",
                "type": "select",
                "label": "Transport layer security (TLS)",
                "validate": {
                  "enum": [
                    "mTls",
                    "tls"
                  ]
                }
              },
              {
                "name": "proxyKeychain",
                "type": "keychain:proxy",
                "label": "Proxy"
              }
            ],
            "expect": [
              {
                "name": "url",
                "type": "url",
                "label": "URL",
                "required": true
              },
              {
                "name": "method",
                "type": "select",
                "label": "Method",
                "required": true,
                "validate": {
                  "enum": [
                    "get",
                    "head",
                    "post",
                    "put",
                    "patch",
                    "delete",
                    "options"
                  ]
                }
              },
              {
                "name": "headers",
                "spec": {
                  "name": "value",
                  "spec": [
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name",
                      "required": true,
                      "validate": {
                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                      }
                    },
                    {
                      "name": "value",
                      "type": "text",
                      "label": "Value"
                    }
                  ],
                  "type": "collection",
                  "label": "Header"
                },
                "type": "array",
                "label": "Headers"
              },
              {
                "name": "queryParameters",
                "spec": {
                  "name": "value",
                  "spec": [
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name",
                      "required": true
                    },
                    {
                      "name": "value",
                      "type": "text",
                      "label": "Value"
                    }
                  ],
                  "type": "collection",
                  "label": "Parameter"
                },
                "type": "array",
                "label": "Query parameters"
              },
              {
                "name": "contentType",
                "type": "select",
                "label": "Body content type",
                "validate": {
                  "enum": [
                    "json",
                    "multipart",
                    "urlEncoded",
                    "custom"
                  ]
                }
              },
              {
                "name": "parseResponse",
                "type": "boolean",
                "label": "Parse response",
                "required": true
              },
              {
                "name": "stopOnHttpError",
                "type": "boolean",
                "label": "Return error if HTTP request fails",
                "required": true
              },
              {
                "name": "timeout",
                "type": "uinteger",
                "label": "Timeout",
                "validate": {
                  "max": 300,
                  "min": 1
                }
              },
              {
                "name": "allowRedirects",
                "type": "boolean",
                "label": "Allow redirects",
                "required": true
              },
              {
                "name": "shareCookies",
                "type": "boolean",
                "label": "Share cookies with other HTTP modules",
                "required": true
              },
              {
                "name": "requestCompressedContent",
                "type": "boolean",
                "label": "Request compressed content",
                "required": true
              },
              {
                "name": "urlEncodedBodyContent",
                "spec": {
                  "name": "value",
                  "spec": [
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name",
                      "required": true
                    },
                    {
                      "name": "value",
                      "type": "text",
                      "label": "Value"
                    }
                  ],
                  "type": "collection",
                  "label": "Field"
                },
                "type": "array",
                "label": "Body content",
                "required": true
              },
              {
                "name": "paginationType",
                "type": "select",
                "label": "Pagination type",
                "validate": {
                  "enum": [
                    "offsetBased",
                    "pageBased",
                    "urlBased",
                    "tokenBased"
                  ]
                }
              }
            ],
            "interface": [
              {
                "name": "data",
                "type": "any",
                "label": "Data"
              },
              {
                "name": "statusCode",
                "type": "number",
                "label": "Status Code"
              },
              {
                "name": "headers",
                "spec": [
                  {
                    "name": "content-length",
                    "type": "text",
                    "label": "Content-Length"
                  },
                  {
                    "name": "content-encoding",
                    "type": "text",
                    "label": "Content-Encoding"
                  },
                  {
                    "name": "content-type",
                    "type": "text",
                    "label": "Content-Type"
                  },
                  {
                    "name": "server",
                    "type": "text",
                    "label": "Server"
                  },
                  {
                    "name": "cache-control",
                    "type": "text",
                    "label": "Cache-Control"
                  },
                  {
                    "name": "set-cookie",
                    "spec": {
                      "type": "text"
                    },
                    "type": "array",
                    "label": "Set-Cookie"
                  }
                ],
                "type": "collection",
                "label": "Headers"
              }
            ]
          }
        },
        {
          "id": 10,
          "module": "http:MakeRequest",
          "version": 4,
          "parameters": {
            "tlsType": "",
            "authenticationType": "noAuth"
          },
          "mapper": {
            "url": "{{1.scriptUrl}}",
            "method": "post",
            "headers": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ],
            "contentType": "json",
            "inputMethod": "jsonString",
            "shareCookies": false,
            "parseResponse": true,
            "allowRedirects": true,
            "stopOnHttpError": true,
            "jsonStringBodyContent": "{\n  \"action\": \"runAction\",\n  \"functionName\": \"confirmPublish\",\n  \"reviewId\": \"{{1.reviewId}}\",\n  \"success\": false,\n  \"errorMessage\": \"{{7.error.message}}\"\n}",
            "requestCompressedContent": true
          },
          "metadata": {
            "designer": {
              "x": 906,
              "y": 117
            },
            "restore": {
              "expect": {
                "method": {
                  "mode": "chose",
                  "label": "POST"
                },
                "headers": {
                  "mode": "chose",
                  "items": [
                    null
                  ]
                },
                "contentType": {
                  "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                },
                "inputMethod": {
                  "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                },
                "shareCookies": {
                  "mode": "chose"
                },
                "parseResponse": {
                  "mode": "chose"
                },
                "allowRedirects": {
                  "mode": "chose"
                },
                "paginationType": {
                  "label": "Empty"
                },
                "queryParameters": {
                  "mode": "chose"
                },
                "stopOnHttpError": {
                  "mode": "chose"
                },
                "requestCompressedContent": {
                  "mode": "chose"
                }
              },
              "parameters": {
                "tlsType": {
                  "label": "Empty"
                },
                "authenticationType": {
                  "label": "No authenticationUse when no credentials are required for the request."
                }
              }
            },
            "parameters": [
              {
                "name": "authenticationType",
                "type": "select",
                "label": "Authentication type",
                "required": true,
                "validate": {
                  "enum": [
                    "noAuth",
                    "apiKey",
                    "basicAuth",
                    "oAuth"
                  ]
                }
              },
              {
                "name": "tlsType",
                "type": "select",
                "label": "Transport layer security (TLS)",
                "validate": {
                  "enum": [
                    "mTls",
                    "tls"
                  ]
                }
              },
              {
                "name": "proxyKeychain",
                "type": "keychain:proxy",
                "label": "Proxy"
              }
            ],
            "expect": [
              {
                "name": "url",
                "type": "url",
                "label": "URL",
                "required": true
              },
              {
                "name": "method",
                "type": "select",
                "label": "Method",
                "required": true,
                "validate": {
                  "enum": [
                    "get",
                    "head",
                    "post",
                    "put",
                    "patch",
                    "delete",
                    "options"
                  ]
                }
              },
              {
                "name": "headers",
                "spec": {
                  "name": "value",
                  "spec": [
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name",
                      "required": true,
                      "validate": {
                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                      }
                    },
                    {
                      "name": "value",
                      "type": "text",
                      "label": "Value"
                    }
                  ],
                  "type": "collection",
                  "label": "Header"
                },
                "type": "array",
                "label": "Headers"
              },
              {
                "name": "queryParameters",
                "spec": {
                  "name": "value",
                  "spec": [
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name",
                      "required": true
                    },
                    {
                      "name": "value",
                      "type": "text",
                      "label": "Value"
                    }
                  ],
                  "type": "collection",
                  "label": "Parameter"
                },
                "type": "array",
                "label": "Query parameters"
              },
              {
                "name": "contentType",
                "type": "select",
                "label": "Body content type",
                "validate": {
                  "enum": [
                    "json",
                    "multipart",
                    "urlEncoded",
                    "custom"
                  ]
                }
              },
              {
                "name": "parseResponse",
                "type": "boolean",
                "label": "Parse response",
                "required": true
              },
              {
                "name": "stopOnHttpError",
                "type": "boolean",
                "label": "Return error if HTTP request fails",
                "required": true
              },
              {
                "name": "timeout",
                "type": "uinteger",
                "label": "Timeout",
                "validate": {
                  "max": 300,
                  "min": 1
                }
              },
              {
                "name": "allowRedirects",
                "type": "boolean",
                "label": "Allow redirects",
                "required": true
              },
              {
                "name": "shareCookies",
                "type": "boolean",
                "label": "Share cookies with other HTTP modules",
                "required": true
              },
              {
                "name": "requestCompressedContent",
                "type": "boolean",
                "label": "Request compressed content",
                "required": true
              },
              {
                "name": "inputMethod",
                "type": "select",
                "label": "Body input method",
                "required": true,
                "validate": {
                  "enum": [
                    "dataStructure",
                    "jsonString"
                  ]
                }
              },
              {
                "name": "jsonStringBodyContent",
                "type": "text",
                "label": "Body content",
                "required": true
              },
              {
                "name": "paginationType",
                "type": "select",
                "label": "Pagination type",
                "validate": {
                  "enum": [
                    "offsetBased",
                    "pageBased",
                    "urlBased",
                    "tokenBased"
                  ]
                }
              }
            ],
            "interface": [
              {
                "name": "data",
                "type": "any",
                "label": "Data"
              },
              {
                "name": "statusCode",
                "type": "number",
                "label": "Status Code"
              },
              {
                "name": "headers",
                "spec": [
                  {
                    "name": "content-length",
                    "type": "text",
                    "label": "Content-Length"
                  },
                  {
                    "name": "content-encoding",
                    "type": "text",
                    "label": "Content-Encoding"
                  },
                  {
                    "name": "content-type",
                    "type": "text",
                    "label": "Content-Type"
                  },
                  {
                    "name": "server",
                    "type": "text",
                    "label": "Server"
                  },
                  {
                    "name": "cache-control",
                    "type": "text",
                    "label": "Cache-Control"
                  },
                  {
                    "name": "set-cookie",
                    "spec": {
                      "type": "text"
                    },
                    "type": "array",
                    "label": "Set-Cookie"
                  }
                ],
                "type": "collection",
                "label": "Headers"
              }
            ]
          }
        }
      ]
    },
    {
      "id": 9,
      "module": "http:MakeRequest",
      "version": 4,
      "parameters": {
        "tlsType": "",
        "authenticationType": "noAuth"
      },
      "mapper": {
        "url": "{{1.scriptUrl}}",
        "method": "post",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "contentType": "json",
        "inputMethod": "jsonString",
        "shareCookies": false,
        "parseResponse": true,
        "allowRedirects": true,
        "stopOnHttpError": true,
        "jsonStringBodyContent": "{\n  \"action\": \"runAction\",\n  \"functionName\": \"confirmPublish\",\n  \"reviewId\": \"{{1.reviewId}}\",\n  \"success\": true\n}",
        "requestCompressedContent": true
      },
      "metadata": {
        "designer": {
          "x": 549,
          "y": -199
        },
        "restore": {
          "expect": {
            "method": {
              "mode": "chose",
              "label": "POST"
            },
            "headers": {
              "mode": "chose",
              "items": [
                null
              ]
            },
            "contentType": {
              "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
            },
            "inputMethod": {
              "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
            },
            "shareCookies": {
              "mode": "chose"
            },
            "parseResponse": {
              "mode": "chose"
            },
            "allowRedirects": {
              "mode": "chose"
            },
            "paginationType": {
              "label": "Empty"
            },
            "queryParameters": {
              "mode": "chose"
            },
            "stopOnHttpError": {
              "mode": "chose"
            },
            "requestCompressedContent": {
              "mode": "chose"
            }
          },
          "parameters": {
            "tlsType": {
              "label": "Empty"
            },
            "authenticationType": {
              "label": "No authenticationUse when no credentials are required for the request."
            }
          }
        },
        "parameters": [
          {
            "name": "authenticationType",
            "type": "select",
            "label": "Authentication type",
            "required": true,
            "validate": {
              "enum": [
                "noAuth",
                "apiKey",
                "basicAuth",
                "oAuth"
              ]
            }
          },
          {
            "name": "tlsType",
            "type": "select",
            "label": "Transport layer security (TLS)",
            "validate": {
              "enum": [
                "mTls",
                "tls"
              ]
            }
          },
          {
            "name": "proxyKeychain",
            "type": "keychain:proxy",
            "label": "Proxy"
          }
        ],
        "expect": [
          {
            "name": "url",
            "type": "url",
            "label": "URL",
            "required": true
          },
          {
            "name": "method",
            "type": "select",
            "label": "Method",
            "required": true,
            "validate": {
              "enum": [
                "get",
                "head",
                "post",
                "put",
                "patch",
                "delete",
                "options"
              ]
            }
          },
          {
            "name": "headers",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "name",
                  "type": "text",
                  "label": "Name",
                  "required": true,
                  "validate": {
                    "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                  }
                },
                {
                  "name": "value",
                  "type": "text",
                  "label": "Value"
                }
              ],
              "type": "collection",
              "label": "Header"
            },
            "type": "array",
            "label": "Headers"
          },
          {
            "name": "queryParameters",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "name",
                  "type": "text",
                  "label": "Name",
                  "required": true
                },
                {
                  "name": "value",
                  "type": "text",
                  "label": "Value"
                }
              ],
              "type": "collection",
              "label": "Parameter"
            },
            "type": "array",
            "label": "Query parameters"
          },
          {
            "name": "contentType",
            "type": "select",
            "label": "Body content type",
            "validate": {
              "enum": [
                "json",
                "multipart",
                "urlEncoded",
                "custom"
              ]
            }
          },
          {
            "name": "parseResponse",
            "type": "boolean",
            "label": "Parse response",
            "required": true
          },
          {
            "name": "stopOnHttpError",
            "type": "boolean",
            "label": "Return error if HTTP request fails",
            "required": true
          },
          {
            "name": "timeout",
            "type": "uinteger",
            "label": "Timeout",
            "validate": {
              "max": 300,
              "min": 1
            }
          },
          {
            "name": "allowRedirects",
            "type": "boolean",
            "label": "Allow redirects",
            "required": true
          },
          {
            "name": "shareCookies",
            "type": "boolean",
            "label": "Share cookies with other HTTP modules",
            "required": true
          },
          {
            "name": "requestCompressedContent",
            "type": "boolean",
            "label": "Request compressed content",
            "required": true
          },
          {
            "name": "inputMethod",
            "type": "select",
            "label": "Body input method",
            "required": true,
            "validate": {
              "enum": [
                "dataStructure",
                "jsonString"
              ]
            }
          },
          {
            "name": "jsonStringBodyContent",
            "type": "text",
            "label": "Body content",
            "required": true
          },
          {
            "name": "paginationType",
            "type": "select",
            "label": "Pagination type",
            "validate": {
              "enum": [
                "offsetBased",
                "pageBased",
                "urlBased",
                "tokenBased"
              ]
            }
          }
        ],
        "interface": [
          {
            "name": "data",
            "type": "any",
            "label": "Data"
          },
          {
            "name": "statusCode",
            "type": "number",
            "label": "Status Code"
          },
          {
            "name": "headers",
            "spec": [
              {
                "name": "content-length",
                "type": "text",
                "label": "Content-Length"
              },
              {
                "name": "content-encoding",
                "type": "text",
                "label": "Content-Encoding"
              },
              {
                "name": "content-type",
                "type": "text",
                "label": "Content-Type"
              },
              {
                "name": "server",
                "type": "text",
                "label": "Server"
              },
              {
                "name": "cache-control",
                "type": "text",
                "label": "Cache-Control"
              },
              {
                "name": "set-cookie",
                "spec": {
                  "type": "text"
                },
                "type": "array",
                "label": "Set-Cookie"
              }
            ],
            "type": "collection",
            "label": "Headers"
          }
        ]
      }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": [
        [
          {
            "id": 4,
            "module": "placeholder:Placeholder",
            "filter": null,
            "metadata": {
              "designer": {
                "x": 403,
                "y": 259
              }
            }
          }
        ]
      ]
    },
    "zone": "us2.make.com",
    "notes": []
  }
}