make-blueprints/04_verify_replies.blueprint.json
{
  "name": "Verify Replies",
  "flow": [
    {
      "id": 1,
      "module": "google-sheets:filterRows",
      "version": 2,
      "parameters": {
        "__IMTCONN__": "__SET_YOUR_CONNECTION__"
      },
      "mapper": {
        "from": "share",
        "limit": "100",
        "filter": [
          [
            {
              "a": "F",
              "b": "replied",
              "o": "text:equal"
            },
            {
              "a": "E",
              "b": "{{addDays(now; -4)}}",
              "o": "date:greaterorequal"
            }
          ]
        ],
        "sheetId": "Reviews",
        "sortOrder": "asc",
        "spreadsheetId": "PASTE_YOUR_SPREADSHEET_ID",
        "tableFirstRow": "A1:CZ1",
        "includesHeaders": true,
        "valueRenderOption": "FORMATTED_VALUE",
        "dateTimeRenderOption": "FORMATTED_STRING"
      },
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "restore": {
          "expect": {
            "from": {
              "label": "Select from all"
            },
            "orderBy": {
              "mode": "chose",
              "label": "Empty"
            },
            "sheetId": {
              "mode": "chose",
              "label": "Reviews"
            },
            "sortOrder": {
              "mode": "chose",
              "label": "Ascending"
            },
            "tableFirstRow": {
              "label": "A-CZ"
            },
            "includesHeaders": {
              "mode": "chose",
              "label": "Yes"
            },
            "valueRenderOption": {
              "mode": "chose",
              "label": "Formatted value"
            },
            "dateTimeRenderOption": {
              "mode": "chose",
              "label": "Formatted string"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "google"
              },
              "label": "My Google connection (your-email@example.com)"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "from",
            "type": "select",
            "label": "Search Method",
            "required": true,
            "validate": {
              "enum": [
                "drive",
                "share"
              ]
            }
          },
          {
            "name": "valueRenderOption",
            "type": "select",
            "label": "Value render option",
            "validate": {
              "enum": [
                "FORMATTED_VALUE",
                "UNFORMATTED_VALUE",
                "FORMULA"
              ]
            }
          },
          {
            "name": "dateTimeRenderOption",
            "type": "select",
            "label": "Date and time render option",
            "validate": {
              "enum": [
                "SERIAL_NUMBER",
                "FORMATTED_STRING"
              ]
            }
          },
          {
            "name": "limit",
            "type": "uinteger",
            "label": "Limit"
          },
          {
            "name": "spreadsheetId",
            "type": "text",
            "label": "Spreadsheet ID",
            "required": true
          },
          {
            "name": "sheetId",
            "type": "select",
            "label": "Sheet Name",
            "required": true
          },
          {
            "name": "includesHeaders",
            "type": "select",
            "label": "Table contains headers",
            "required": true,
            "validate": {
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "tableFirstRow",
            "type": "select",
            "label": "Column range",
            "required": true,
            "validate": {
              "enum": [
                "A1:Z1",
                "A1:BZ1",
                "A1:CZ1",
                "A1:DZ1",
                "A1:MZ1",
                "A1:ZZ1",
                "A1:AZZ1",
                "A1:BZZ1",
                "A1:CZZ1",
                "A1:DZZ1",
                "A1:MZZ1",
                "A1:ZZZ1"
              ]
            }
          },
          {
            "name": "filter",
            "type": "filter",
            "label": "Filter",
            "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
          },
          {
            "name": "orderBy",
            "type": "select",
            "label": "Order by"
          },
          {
            "name": "sortOrder",
            "type": "select",
            "label": "Sort order",
            "validate": {
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "interface": [
          {
            "name": "__IMTLENGTH__",
            "type": "uinteger",
            "label": "Total number of bundles"
          },
          {
            "name": "__IMTINDEX__",
            "type": "uinteger",
            "label": "Bundle order position"
          },
          {
            "name": "__ROW_NUMBER__",
            "type": "number",
            "label": "Row number"
          },
          {
            "name": "__SPREADSHEET_ID__",
            "type": "text",
            "label": "Spreadsheet ID"
          },
          {
            "name": "__SHEET__",
            "type": "text",
            "label": "Sheet"
          },
          {
            "name": "0",
            "type": "text",
            "label": "Review Name (A)"
          },
          {
            "name": "1",
            "type": "text",
            "label": "Reviewer Name (B)"
          },
          {
            "name": "2",
            "type": "text",
            "label": "Star (C)"
          },
          {
            "name": "3",
            "type": "text",
            "label": "Content (D)"
          },
          {
            "name": "4",
            "type": "text",
            "label": "Date Time (E)"
          },
          {
            "name": "5",
            "type": "text",
            "label": "Status (F)"
          },
          {
            "name": "6",
            "type": "text",
            "label": "Branch (G)"
          },
          {
            "name": "7",
            "type": "text",
            "label": "Option 1  (H)"
          },
          {
            "name": "8",
            "type": "text",
            "label": "Option 2  (I)"
          },
          {
            "name": "9",
            "type": "text",
            "label": "Option 3 (J)"
          },
          {
            "name": "10",
            "type": "text",
            "label": "Final reply (K)"
          },
          {
            "name": "11",
            "type": "text",
            "label": "reply time (L)"
          },
          {
            "name": "12",
            "type": "text",
            "label": "(M)"
          },
          {
            "name": "13",
            "type": "text",
            "label": "(N)"
          },
          {
            "name": "14",
            "type": "text",
            "label": "(O)"
          },
          {
            "name": "15",
            "type": "text",
            "label": "(P)"
          },
          {
            "name": "16",
            "type": "text",
            "label": "(Q)"
          },
          {
            "name": "17",
            "type": "text",
            "label": "(R)"
          },
          {
            "name": "18",
            "type": "text",
            "label": "(S)"
          },
          {
            "name": "19",
            "type": "text",
            "label": "(T)"
          },
          {
            "name": "20",
            "type": "text",
            "label": "(U)"
          },
          {
            "name": "21",
            "type": "text",
            "label": "(V)"
          },
          {
            "name": "22",
            "type": "text",
            "label": "(W)"
          },
          {
            "name": "23",
            "type": "text",
            "label": "(X)"
          },
          {
            "name": "24",
            "type": "text",
            "label": "(Y)"
          },
          {
            "name": "25",
            "type": "text",
            "label": "(Z)"
          },
          {
            "name": "26",
            "type": "text",
            "label": "(AA)"
          },
          {
            "name": "27",
            "type": "text",
            "label": "(AB)"
          },
          {
            "name": "28",
            "type": "text",
            "label": "(AC)"
          },
          {
            "name": "29",
            "type": "text",
            "label": "(AD)"
          },
          {
            "name": "30",
            "type": "text",
            "label": "(AE)"
          },
          {
            "name": "31",
            "type": "text",
            "label": "(AF)"
          },
          {
            "name": "32",
            "type": "text",
            "label": "(AG)"
          },
          {
            "name": "33",
            "type": "text",
            "label": "(AH)"
          },
          {
            "name": "34",
            "type": "text",
            "label": "(AI)"
          },
          {
            "name": "35",
            "type": "text",
            "label": "(AJ)"
          },
          {
            "name": "36",
            "type": "text",
            "label": "(AK)"
          },
          {
            "name": "37",
            "type": "text",
            "label": "(AL)"
          },
          {
            "name": "38",
            "type": "text",
            "label": "(AM)"
          },
          {
            "name": "39",
            "type": "text",
            "label": "(AN)"
          },
          {
            "name": "40",
            "type": "text",
            "label": "(AO)"
          },
          {
            "name": "41",
            "type": "text",
            "label": "(AP)"
          },
          {
            "name": "42",
            "type": "text",
            "label": "(AQ)"
          },
          {
            "name": "43",
            "type": "text",
            "label": "(AR)"
          },
          {
            "name": "44",
            "type": "text",
            "label": "(AS)"
          },
          {
            "name": "45",
            "type": "text",
            "label": "(AT)"
          },
          {
            "name": "46",
            "type": "text",
            "label": "(AU)"
          },
          {
            "name": "47",
            "type": "text",
            "label": "(AV)"
          },
          {
            "name": "48",
            "type": "text",
            "label": "(AW)"
          },
          {
            "name": "49",
            "type": "text",
            "label": "(AX)"
          },
          {
            "name": "50",
            "type": "text",
            "label": "(AY)"
          },
          {
            "name": "51",
            "type": "text",
            "label": "(AZ)"
          },
          {
            "name": "52",
            "type": "text",
            "label": "(BA)"
          },
          {
            "name": "53",
            "type": "text",
            "label": "(BB)"
          },
          {
            "name": "54",
            "type": "text",
            "label": "(BC)"
          },
          {
            "name": "55",
            "type": "text",
            "label": "(BD)"
          },
          {
            "name": "56",
            "type": "text",
            "label": "(BE)"
          },
          {
            "name": "57",
            "type": "text",
            "label": "(BF)"
          },
          {
            "name": "58",
            "type": "text",
            "label": "(BG)"
          },
          {
            "name": "59",
            "type": "text",
            "label": "(BH)"
          },
          {
            "name": "60",
            "type": "text",
            "label": "(BI)"
          },
          {
            "name": "61",
            "type": "text",
            "label": "(BJ)"
          },
          {
            "name": "62",
            "type": "text",
            "label": "(BK)"
          },
          {
            "name": "63",
            "type": "text",
            "label": "(BL)"
          },
          {
            "name": "64",
            "type": "text",
            "label": "(BM)"
          },
          {
            "name": "65",
            "type": "text",
            "label": "(BN)"
          },
          {
            "name": "66",
            "type": "text",
            "label": "(BO)"
          },
          {
            "name": "67",
            "type": "text",
            "label": "(BP)"
          },
          {
            "name": "68",
            "type": "text",
            "label": "(BQ)"
          },
          {
            "name": "69",
            "type": "text",
            "label": "(BR)"
          },
          {
            "name": "70",
            "type": "text",
            "label": "(BS)"
          },
          {
            "name": "71",
            "type": "text",
            "label": "(BT)"
          },
          {
            "name": "72",
            "type": "text",
            "label": "(BU)"
          },
          {
            "name": "73",
            "type": "text",
            "label": "(BV)"
          },
          {
            "name": "74",
            "type": "text",
            "label": "(BW)"
          },
          {
            "name": "75",
            "type": "text",
            "label": "(BX)"
          },
          {
            "name": "76",
            "type": "text",
            "label": "(BY)"
          },
          {
            "name": "77",
            "type": "text",
            "label": "(BZ)"
          },
          {
            "name": "78",
            "type": "text",
            "label": "(CA)"
          },
          {
            "name": "79",
            "type": "text",
            "label": "(CB)"
          },
          {
            "name": "80",
            "type": "text",
            "label": "(CC)"
          },
          {
            "name": "81",
            "type": "text",
            "label": "(CD)"
          },
          {
            "name": "82",
            "type": "text",
            "label": "(CE)"
          },
          {
            "name": "83",
            "type": "text",
            "label": "(CF)"
          },
          {
            "name": "84",
            "type": "text",
            "label": "(CG)"
          },
          {
            "name": "85",
            "type": "text",
            "label": "(CH)"
          },
          {
            "name": "86",
            "type": "text",
            "label": "(CI)"
          },
          {
            "name": "87",
            "type": "text",
            "label": "(CJ)"
          },
          {
            "name": "88",
            "type": "text",
            "label": "(CK)"
          },
          {
            "name": "89",
            "type": "text",
            "label": "(CL)"
          },
          {
            "name": "90",
            "type": "text",
            "label": "(CM)"
          },
          {
            "name": "91",
            "type": "text",
            "label": "(CN)"
          },
          {
            "name": "92",
            "type": "text",
            "label": "(CO)"
          },
          {
            "name": "93",
            "type": "text",
            "label": "(CP)"
          },
          {
            "name": "94",
            "type": "text",
            "label": "(CQ)"
          },
          {
            "name": "95",
            "type": "text",
            "label": "(CR)"
          },
          {
            "name": "96",
            "type": "text",
            "label": "(CS)"
          },
          {
            "name": "97",
            "type": "text",
            "label": "(CT)"
          },
          {
            "name": "98",
            "type": "text",
            "label": "(CU)"
          },
          {
            "name": "99",
            "type": "text",
            "label": "(CV)"
          },
          {
            "name": "100",
            "type": "text",
            "label": "(CW)"
          },
          {
            "name": "101",
            "type": "text",
            "label": "(CX)"
          },
          {
            "name": "102",
            "type": "text",
            "label": "(CY)"
          },
          {
            "name": "103",
            "type": "text",
            "label": "(CZ)"
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "google-my-business:makeApiCall",
      "version": 1,
      "parameters": {
        "__IMTCONN__": "__SET_YOUR_CONNECTION__"
      },
      "mapper": {
        "url": "v4/{{1.`0`}}",
        "domain": "https://mybusiness.googleapis.com",
        "method": "GET"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        },
        "restore": {
          "expect": {
            "qs": {
              "mode": "chose"
            },
            "domain": {
              "label": "Legacy Google My Business API",
              "nested": [
                {
                  "help": "Enter a path relative to `https://mybusiness.googleapis.com`.\nFor more information, click [here](https://developers.google.com/my-business/ref_overview).",
                  "name": "url",
                  "type": "text",
                  "label": "URL",
                  "required": true
                }
              ]
            },
            "method": {
              "mode": "chose",
              "label": "GET"
            },
            "headers": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "google-my-business2"
              },
              "label": "My Google Business Profile connection (your-email@example.com)"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google-custom,google-my-business2",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "domain",
            "type": "select",
            "label": "Choose a Google My Business API Type",
            "required": true,
            "validate": {
              "enum": [
                "https://mybusinessaccountmanagement.googleapis.com",
                "https://mybusinessbusinesscalls.googleapis.com",
                "https://mybusinessbusinessinformation.googleapis.com",
                "https://mybusinesslodging.googleapis.com",
                "https://mybusinessnotifications.googleapis.com",
                "https://mybusinessplaceactions.googleapis.com",
                "https://mybusinessqanda.googleapis.com",
                "https://mybusinessverifications.googleapis.com",
                "https://businessprofileperformance.googleapis.com/",
                "https://mybusiness.googleapis.com"
              ]
            }
          },
          {
            "name": "method",
            "type": "select",
            "label": "Method",
            "required": true,
            "validate": {
              "enum": [
                "GET",
                "POST",
                "PUT",
                "PATCH",
                "DELETE"
              ]
            }
          },
          {
            "name": "headers",
            "spec": [
              {
                "name": "key",
                "type": "text",
                "label": "Key"
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ],
            "type": "array",
            "label": "Headers"
          },
          {
            "name": "qs",
            "spec": [
              {
                "name": "key",
                "type": "text",
                "label": "Key"
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ],
            "type": "array",
            "label": "Query String"
          },
          {
            "name": "body",
            "type": "any",
            "label": "Body"
          },
          {
            "name": "url",
            "type": "text",
            "label": "URL",
            "required": true
          }
        ]
      },
      "onerror": [
        {
          "id": 11,
          "module": "builtin:Resume",
          "version": 1,
          "parameters": {},
          "mapper": {
            "body": "{}",
            "headers": {},
            "statusCode": ""
          },
          "metadata": {
            "designer": {
              "x": 600,
              "y": 150
            },
            "restore": {},
            "expect": [
              {
                "name": "body",
                "type": "any",
                "label": "Body"
              },
              {
                "name": "headers",
                "spec": [],
                "type": "collection",
                "label": "Headers"
              },
              {
                "name": "statusCode",
                "type": "number",
                "label": "Status code"
              }
            ]
          }
        }
      ]
    },
    {
      "id": 5,
      "module": "builtin:BasicRouter",
      "version": 1,
      "mapper": null,
      "metadata": {
        "designer": {
          "x": 600,
          "y": -150
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 6,
              "module": "google-sheets:updateRow",
              "version": 2,
              "parameters": {
                "__IMTCONN__": "__SET_YOUR_CONNECTION__"
              },
              "filter": {
                "name": "Reply found",
                "conditions": [
                  [
                    {
                      "a": "{{2.body.reviewReply.comment}}",
                      "o": "exist"
                    }
                  ]
                ]
              },
              "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                  "5": "confirmed"
                },
                "sheetId": "Reviews",
                "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                "spreadsheetId": "PASTE_YOUR_SPREADSHEET_ID",
                "includesHeaders": true,
                "useColumnHeaders": false,
                "valueInputOption": "USER_ENTERED"
              },
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": -150
                },
                "restore": {
                  "expect": {
                    "from": {
                      "label": "My Drive"
                    },
                    "mode": {
                      "label": "Search by path"
                    },
                    "sheetId": {
                      "label": "Reviews"
                    },
                    "spreadsheetId": {
                      "path": [
                        "Review Agent Spreadsheet",
                        "[La Lapine] Review Agent"
                      ]
                    },
                    "includesHeaders": {
                      "label": "Yes"
                    },
                    "useColumnHeaders": {
                      "label": "No",
                      "nested": [
                        {
                          "name": "values",
                          "spec": [
                            {
                              "name": "0",
                              "type": "text",
                              "label": "Review Name (A)"
                            },
                            {
                              "name": "1",
                              "type": "text",
                              "label": "Reviewer Name (B)"
                            },
                            {
                              "name": "2",
                              "type": "text",
                              "label": "Star (C)"
                            },
                            {
                              "name": "3",
                              "type": "text",
                              "label": "Content (D)"
                            },
                            {
                              "name": "4",
                              "type": "text",
                              "label": "Date Time (E)"
                            },
                            {
                              "name": "5",
                              "type": "text",
                              "label": "Status (F)"
                            },
                            {
                              "name": "6",
                              "type": "text",
                              "label": "Branch (G)"
                            },
                            {
                              "name": "7",
                              "type": "text",
                              "label": "Option 1  (H)"
                            },
                            {
                              "name": "8",
                              "type": "text",
                              "label": "Option 2  (I)"
                            },
                            {
                              "name": "9",
                              "type": "text",
                              "label": "Option 3 (J)"
                            },
                            {
                              "name": "10",
                              "type": "text",
                              "label": "Final reply (K)"
                            },
                            {
                              "name": "11",
                              "type": "text",
                              "label": "reply time (L)"
                            },
                            {
                              "name": "12",
                              "type": "text",
                              "label": "(M)"
                            },
                            {
                              "name": "13",
                              "type": "text",
                              "label": "(N)"
                            },
                            {
                              "name": "14",
                              "type": "text",
                              "label": "(O)"
                            },
                            {
                              "name": "15",
                              "type": "text",
                              "label": "(P)"
                            },
                            {
                              "name": "16",
                              "type": "text",
                              "label": "(Q)"
                            },
                            {
                              "name": "17",
                              "type": "text",
                              "label": "(R)"
                            },
                            {
                              "name": "18",
                              "type": "text",
                              "label": "(S)"
                            },
                            {
                              "name": "19",
                              "type": "text",
                              "label": "(T)"
                            },
                            {
                              "name": "20",
                              "type": "text",
                              "label": "(U)"
                            },
                            {
                              "name": "21",
                              "type": "text",
                              "label": "(V)"
                            },
                            {
                              "name": "22",
                              "type": "text",
                              "label": "(W)"
                            },
                            {
                              "name": "23",
                              "type": "text",
                              "label": "(X)"
                            },
                            {
                              "name": "24",
                              "type": "text",
                              "label": "(Y)"
                            },
                            {
                              "name": "25",
                              "type": "text",
                              "label": "(Z)"
                            }
                          ],
                          "type": "collection",
                          "label": "Values in columns",
                          "metadata": [
                            [
                              [
                                "Review Name",
                                "Reviewer Name",
                                "Star",
                                "Content",
                                "Date Time",
                                "Status",
                                "Branch",
                                "Option 1 ",
                                "Option 2 ",
                                "Option 3",
                                "Final reply",
                                "reply time"
                              ]
                            ]
                          ]
                        }
                      ]
                    },
                    "valueInputOption": {
                      "mode": "chose",
                      "label": "User entered"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "google"
                      },
                      "label": "My Google connection (your-email@example.com)"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "mode",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "select",
                        "fromAll",
                        "map"
                      ]
                    }
                  },
                  {
                    "name": "valueInputOption",
                    "type": "select",
                    "label": "Value input option",
                    "validate": {
                      "enum": [
                        "USER_ENTERED",
                        "RAW"
                      ]
                    }
                  },
                  {
                    "name": "from",
                    "type": "select",
                    "label": "Drive",
                    "required": true,
                    "validate": {
                      "enum": [
                        "drive",
                        "share",
                        "team"
                      ]
                    }
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "file",
                    "label": "Spreadsheet Name",
                    "required": true
                  },
                  {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  },
                  {
                    "name": "rowNumber",
                    "type": "uinteger",
                    "label": "Row number",
                    "required": true
                  },
                  {
                    "name": "includesHeaders",
                    "type": "select",
                    "label": "Table contains headers",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "useColumnHeaders",
                    "type": "select",
                    "label": "Use column headers as IDs of the columns",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "values",
                    "spec": [
                      {
                        "name": "0",
                        "type": "text",
                        "label": "Review Name (A)"
                      },
                      {
                        "name": "1",
                        "type": "text",
                        "label": "Reviewer Name (B)"
                      },
                      {
                        "name": "2",
                        "type": "text",
                        "label": "Star (C)"
                      },
                      {
                        "name": "3",
                        "type": "text",
                        "label": "Content (D)"
                      },
                      {
                        "name": "4",
                        "type": "text",
                        "label": "Date Time (E)"
                      },
                      {
                        "name": "5",
                        "type": "text",
                        "label": "Status (F)"
                      },
                      {
                        "name": "6",
                        "type": "text",
                        "label": "Branch (G)"
                      },
                      {
                        "name": "7",
                        "type": "text",
                        "label": "Option 1  (H)"
                      },
                      {
                        "name": "8",
                        "type": "text",
                        "label": "Option 2  (I)"
                      },
                      {
                        "name": "9",
                        "type": "text",
                        "label": "Option 3 (J)"
                      },
                      {
                        "name": "10",
                        "type": "text",
                        "label": "Final reply (K)"
                      },
                      {
                        "name": "11",
                        "type": "text",
                        "label": "reply time (L)"
                      },
                      {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                      },
                      {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                      },
                      {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                      },
                      {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                      },
                      {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                      },
                      {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                      },
                      {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                      },
                      {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                      },
                      {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                      },
                      {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                      },
                      {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                      },
                      {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                      },
                      {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                      },
                      {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                      }
                    ],
                    "type": "collection",
                    "label": "Values in columns",
                    "metadata": [
                      [
                        [
                          "Review Name",
                          "Reviewer Name",
                          "Star",
                          "Content",
                          "Date Time",
                          "Status",
                          "Branch",
                          "Option 1 ",
                          "Option 2 ",
                          "Option 3",
                          "Final reply",
                          "reply time"
                        ]
                      ]
                    ]
                  }
                ]
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 9,
              "module": "google-sheets:updateRow",
              "version": 2,
              "parameters": {
                "__IMTCONN__": "__SET_YOUR_CONNECTION__"
              },
              "filter": {
                "name": "Reply missing",
                "conditions": [
                  [
                    {
                      "a": "{{2.body.reviewReply.comment}}",
                      "o": "notexist"
                    }
                  ]
                ]
              },
              "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                  "5": "publish_error"
                },
                "sheetId": "Reviews",
                "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                "spreadsheetId": "PASTE_YOUR_SPREADSHEET_ID",
                "includesHeaders": true,
                "useColumnHeaders": false,
                "valueInputOption": "USER_ENTERED"
              },
              "metadata": {
                "designer": {
                  "x": 913,
                  "y": 108
                },
                "restore": {
                  "expect": {
                    "from": {
                      "label": "My Drive"
                    },
                    "mode": {
                      "label": "Search by path"
                    },
                    "sheetId": {
                      "label": "Reviews"
                    },
                    "spreadsheetId": {
                      "path": [
                        "Review Agent Spreadsheet",
                        "[La Lapine] Review Agent"
                      ]
                    },
                    "includesHeaders": {
                      "label": "Yes"
                    },
                    "useColumnHeaders": {
                      "label": "No",
                      "nested": [
                        {
                          "name": "values",
                          "spec": [
                            {
                              "name": "0",
                              "type": "text",
                              "label": "Review Name (A)"
                            },
                            {
                              "name": "1",
                              "type": "text",
                              "label": "Reviewer Name (B)"
                            },
                            {
                              "name": "2",
                              "type": "text",
                              "label": "Star (C)"
                            },
                            {
                              "name": "3",
                              "type": "text",
                              "label": "Content (D)"
                            },
                            {
                              "name": "4",
                              "type": "text",
                              "label": "Date Time (E)"
                            },
                            {
                              "name": "5",
                              "type": "text",
                              "label": "Status (F)"
                            },
                            {
                              "name": "6",
                              "type": "text",
                              "label": "Branch (G)"
                            },
                            {
                              "name": "7",
                              "type": "text",
                              "label": "Option 1  (H)"
                            },
                            {
                              "name": "8",
                              "type": "text",
                              "label": "Option 2  (I)"
                            },
                            {
                              "name": "9",
                              "type": "text",
                              "label": "Option 3 (J)"
                            },
                            {
                              "name": "10",
                              "type": "text",
                              "label": "Final reply (K)"
                            },
                            {
                              "name": "11",
                              "type": "text",
                              "label": "reply time (L)"
                            },
                            {
                              "name": "12",
                              "type": "text",
                              "label": "(M)"
                            },
                            {
                              "name": "13",
                              "type": "text",
                              "label": "(N)"
                            },
                            {
                              "name": "14",
                              "type": "text",
                              "label": "(O)"
                            },
                            {
                              "name": "15",
                              "type": "text",
                              "label": "(P)"
                            },
                            {
                              "name": "16",
                              "type": "text",
                              "label": "(Q)"
                            },
                            {
                              "name": "17",
                              "type": "text",
                              "label": "(R)"
                            },
                            {
                              "name": "18",
                              "type": "text",
                              "label": "(S)"
                            },
                            {
                              "name": "19",
                              "type": "text",
                              "label": "(T)"
                            },
                            {
                              "name": "20",
                              "type": "text",
                              "label": "(U)"
                            },
                            {
                              "name": "21",
                              "type": "text",
                              "label": "(V)"
                            },
                            {
                              "name": "22",
                              "type": "text",
                              "label": "(W)"
                            },
                            {
                              "name": "23",
                              "type": "text",
                              "label": "(X)"
                            },
                            {
                              "name": "24",
                              "type": "text",
                              "label": "(Y)"
                            },
                            {
                              "name": "25",
                              "type": "text",
                              "label": "(Z)"
                            }
                          ],
                          "type": "collection",
                          "label": "Values in columns",
                          "metadata": [
                            [
                              [
                                "Review Name",
                                "Reviewer Name",
                                "Star",
                                "Content",
                                "Date Time",
                                "Status",
                                "Branch",
                                "Option 1 ",
                                "Option 2 ",
                                "Option 3",
                                "Final reply",
                                "reply time"
                              ]
                            ]
                          ]
                        }
                      ]
                    },
                    "valueInputOption": {
                      "mode": "chose",
                      "label": "User entered"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "google"
                      },
                      "label": "My Google connection (your-email@example.com)"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "mode",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "select",
                        "fromAll",
                        "map"
                      ]
                    }
                  },
                  {
                    "name": "valueInputOption",
                    "type": "select",
                    "label": "Value input option",
                    "validate": {
                      "enum": [
                        "USER_ENTERED",
                        "RAW"
                      ]
                    }
                  },
                  {
                    "name": "from",
                    "type": "select",
                    "label": "Drive",
                    "required": true,
                    "validate": {
                      "enum": [
                        "drive",
                        "share",
                        "team"
                      ]
                    }
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "file",
                    "label": "Spreadsheet Name",
                    "required": true
                  },
                  {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  },
                  {
                    "name": "rowNumber",
                    "type": "uinteger",
                    "label": "Row number",
                    "required": true
                  },
                  {
                    "name": "includesHeaders",
                    "type": "select",
                    "label": "Table contains headers",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "useColumnHeaders",
                    "type": "select",
                    "label": "Use column headers as IDs of the columns",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "values",
                    "spec": [
                      {
                        "name": "0",
                        "type": "text",
                        "label": "Review Name (A)"
                      },
                      {
                        "name": "1",
                        "type": "text",
                        "label": "Reviewer Name (B)"
                      },
                      {
                        "name": "2",
                        "type": "text",
                        "label": "Star (C)"
                      },
                      {
                        "name": "3",
                        "type": "text",
                        "label": "Content (D)"
                      },
                      {
                        "name": "4",
                        "type": "text",
                        "label": "Date Time (E)"
                      },
                      {
                        "name": "5",
                        "type": "text",
                        "label": "Status (F)"
                      },
                      {
                        "name": "6",
                        "type": "text",
                        "label": "Branch (G)"
                      },
                      {
                        "name": "7",
                        "type": "text",
                        "label": "Option 1  (H)"
                      },
                      {
                        "name": "8",
                        "type": "text",
                        "label": "Option 2  (I)"
                      },
                      {
                        "name": "9",
                        "type": "text",
                        "label": "Option 3 (J)"
                      },
                      {
                        "name": "10",
                        "type": "text",
                        "label": "Final reply (K)"
                      },
                      {
                        "name": "11",
                        "type": "text",
                        "label": "reply time (L)"
                      },
                      {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                      },
                      {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                      },
                      {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                      },
                      {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                      },
                      {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                      },
                      {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                      },
                      {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                      },
                      {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                      },
                      {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                      },
                      {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                      },
                      {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                      },
                      {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                      },
                      {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                      },
                      {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                      }
                    ],
                    "type": "collection",
                    "label": "Values in columns",
                    "metadata": [
                      [
                        [
                          "Review Name",
                          "Reviewer Name",
                          "Star",
                          "Content",
                          "Date Time",
                          "Status",
                          "Branch",
                          "Option 1 ",
                          "Option 2 ",
                          "Option 3",
                          "Final reply",
                          "reply time"
                        ]
                      ]
                    ]
                  }
                ]
              }
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us2.make.com",
    "notes": []
  }
}